body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-container {
  display: flex !important;
  margin-bottom: 20px !important;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.bag {
  background-color: white;
  color: rgb(13, 110, 253);
  margin-left: 5px;
  border-radius: 50px;
  padding: 3px;
}
